
<body class="profile-body">
	<div class="topbar">
		<nav class="exit-edit">
			<ul>
				<a href="/"><li class="logout">Log Out |</li></a>
				<a href="/eprofile"><li>Edit Profile</li></a>
			</ul>
		</nav>

		<form action="/search" method="get" class="name-search">
			<label for="search">Search</label>
			<input type="text" name="search" placeholder="search friends">
		</form>
	<br class="clear">
	
	</div>
	
	<div class="body-content">
		<div class="sub-body">	
			<div class="profile-pic">
				<div class="main-body">
					
					<% if flash[:notice] %>
					<h4>
						<%= flash[:notice] %>
					<% else %>
						<%= "Welcome Back #{current_user.fname.capitalize}!" %>
					</h4>
					<% end %>
					
					<div>
					 <img src="/img/under_construction.gif" width="100">
					</div>
					<p class="main">Name: <%= full_name %> </p>
					<p class="main">Age: <%= current_user.age %> </p>
					<p class="main">Location: <%= current_user.location %> </p>
				</div>
				
			</div>


			<div class="friend-blog">
				<div>
					<a href="/friend">See all friends</a> 
				</div>

				<br class="clear">

				<div class="posts">
					<form action="/posting" method="POST">
						<input for="text" name="post">
						<input type="submit" value="Post" >
					</form>
					<% current_user.posts.reverse.each do |d| %>
					<p class="user-post"> <%= d.post %> </p>
					<% end %>	
				</div>
			</div>
		</div>	
		<br class="clear">
	</div>

	<br class="clear">
	
</body>